# Ignore model files
# Ignore model files
face_detection_yunet_2023mar.onnx
mobilefacenet.tflite
# Ignore only images in absen and db_image
absen/*.jpg
db_image/**/*.jpg
# Ignore images in templates
templates/absen/*.jpg
templates/db_image/**/*.jpg
